@import "variables";

@import "helpers/color-bg";
@import "helpers/padding-margin";
@import "helpers/text";

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.print-checklist{
  font-size: 0.64rem !important;
  font-family: "Roboto", sans-serif !important;

  // reset
  * {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .page {
    width: 21cm !important;
    min-height: 29.7cm !important;
    /*max-height: 29.7cm !important;*/
    padding: 1cm !important;
    margin: 0 auto !important;
    margin-top: -38px !important;
    border: 1px #d3d3d3 solid !important;
    border-radius: 5px !important;
    background: white !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
  }
}


