div.scrollmenu {
    /* background-color: #333; */
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu div {
    display: inline-block;
    /* color: white; */
    text-align: left;
    padding: 14px;
    text-decoration: none;
  }
  /*
  div.scrollmenu div:hover {
     background-color: #777; 
  }*/
  div.scrollmenu::-webkit-scrollbar {
  display:none;
}

.cabecalho { 
  height: 100px;
  width: 100%;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}