/*@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "../config/saas/variables";*/

.list-box{
  border: 1px solid var(--ct-input-focus-border-color) !important;
  margin-right: 0;
  margin-left: 0;
}

.table-container{
  max-height: 500px;
  overflow-y: auto;
}

.table-container .table-header{
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  padding-bottom: .5em;
  margin-bottom: .5em;
  /*border-bottom: 1px solid var(--ct-input-focus-border-color);*/
}

.table-container .table-row:last-child{
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.table-container .table-row:not(:last-child):after{
  content: " ";
  width: 100%;
  padding-right: calc(var(--ct-gutter-x) * 0.5);
  padding-left: calc(var(--ct-gutter-x) * 0.5);
  margin-right: calc(var(--ct-gutter-x) * 0.5);
  margin-left: calc(var(--ct-gutter-x) * 0.5);
  border-bottom: 1px solid var(--ct-input-focus-border-color);
  padding-bottom: 1em;
  margin-bottom: 1em;
}
