@each $value in $spacers {
  $radius: $value * 0.5;

  @each $i, $v in ("m": "margin", "p": "padding") {
    .print-checklist{
      .#{$i}-#{$value} {
        #{$v}: #{$radius}mm !important;
      }
    }
    @each $d, $direction in $directions {
      .#{$i}#{$d}-#{$value} {
        #{$v}-#{$direction}: #{$radius}mm !important;
      }
    }
    @each $s, $side in $sides {
      .print-checklist{
        .#{$i}#{$s}-#{$value} {
          @each $sid in $side {
            #{$v}-#{$sid}: #{$radius}mm !important;
          }
        }
      }
    }
  }

  .round-#{$value} {
    border-radius: #{$radius}mm !important;
  }

  .b-#{$value} {
    border: #{$radius * 0.75}mm solid $black !important;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 auto;
    width: calc(($i * 100%) / 12) !important;
  }
}
